
    <header style="background-image:url(<%= asset_path 'header.jpg' %>)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Thousand Trees <br>Where I wanna go </br></h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-3x fa-diamond sr-icons"></i>
                    <h2 class="section-heading">Leave Dreams As Dreams</h2>
                    <hr class="light">
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Birth</span> <br> 1995.12.12<br> South Korea</p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Address</span> <br> South Korea </p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Contact</span> <br> +82 10-5191-7437 <br> 13ccard@gmail.com</p> 
                    <p class="col-lg-12"> </p><a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-star-o text-primary sr-icons"></i>
                            <h3>Main Activity</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                            <h3>Work Experience</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Extra Activity & Experience</h3>
                        <div class="row pf_div">
                            <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                            <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                            </p>
                        </div>
                        <div class="row pf_div">
                            <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                            <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Additional Skills & Informations</h3>
                        <div class="row pf_div">
                            <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                            <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.instagram.com/aerimie" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/1.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    My SNS
                                </div>
                                <div class="project-name">
                                    인스타그램
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/2.jpg", class: 'img-responsive' %>
                      <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Always Doing
                                </div>
                                <div class="project-name">
                                    다이어트
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/3.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    돈이 없어서
                                </div>
                                <div class="project-name">
                                    365일 아르바이트
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/4.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Love
                                </div>
                                <div class="project-name">
                                    Cats
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/5.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Love
                                </div>
                                <div class="project-name">
                                    Moomin
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/6.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Languages
                                </div>
                                <div class="project-name">
                                    한국어, English, 日本語
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>010-5191-7437</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>